.body {
  margin: 0;
  background-color: #333333;
  height: 100vh;
}

.action {
  display: flex;
  justify-content: center;
}

.h-text {
  text-align: center;
  margin: 15px 0;
  color: burlywood;
}

.f-btn {
  border: none;
  width: 120px;
  background-color: green;
  color: white;
  padding: 8px 12px;
  border-radius: 5px;
}

.c-btn {
  border: none;
  width: 120px;
  background-color: red;
  color: white;
  padding: 8px 12px;
  border-radius: 5px;
  margin-left: 15px;
}

.display {

  margin: 20px 25px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 80vh;
}

.input {
  margin-right: 20px;
  margin-left: 20px;
  border-radius: 15px;
  color: #aaaaaa;
  background: #444444;
  outline: none;
  font-size: 15px;
  padding: 10px;
  resize: none;
  font-family: monospace;
  transition: background 0.25s, color 0.25s;
}

.input:hover,
input:focus {
  background-color: #4a4a4a;
}

.input:focus {
  color: #eeeeee;
}